* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  scroll-behavior: smooth;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
/*
@media (max-width: 700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}
*/
p.success {
  color: green;
  font-weight: bold;
}

p.danger {
  color: red;
  font-weight: bold;
}

nav.navbar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: lightpink;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}
/*
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  color: lightpink;
  font-weight: bold;
}
*/
.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icon a::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 15px lightpink;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon img {
  width: 95%;
  z-index: 1;
  transition: 0, 3s ease-in-out;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(90deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-90deg);
  background-color: #fff;
  height: 2px;
}

.home-start {
  margin-top: 0;
  padding: 200px 0 230px 0;
  background-image: url("./assets/purplesky.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-start h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 40px;
  display: block;
}

.typewriter-cursor {
  color: pink;
}

.home-start p {
  color: pink;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.home-start button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.home-start button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.home-start button:hover svg {
  margin-left: 25px;
  transform: scale(1.5);
}

.home-start a {
  text-decoration: none;
}

.home-start img {
  padding-top: 50px;
  animation: inout ease-in-out 5s infinite alternate;
}

@keyframes inout {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.about-me {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url("./assets/purple.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 200px 0;
}

.about-me a {
  text-decoration: none;
  color: whitesmoke;
}

.about-me a:hover {
  color: white;
  transform: scale(2);
}

.about-me h2 {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 700;
}

.about-me h3 {
  margin-bottom: 20px;
  text-align: center;
}

.about-me p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  padding-bottom: 20px;
  text-align: center;
}

.about-me span {
  color: lightpink;
}

.message-span {
  font-weight: bold;
}

.about-me img {
  width: 80%;
  border-radius: 50%;
  margin-left: 40px;
  padding-bottom: 20px;
}

.about-me button:hover {
  font-weight: bold;
}

.about-me p {
  font-size: 18px;
}

.skill {
  position: relative;
  padding: 100px 20px;
  background-color: black;
}

.skill h2 {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 700;
}

.skill h2 span {
  color: lightpink;
}

.skill h3 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.skill h3 span {
  border-bottom: 3px solid lightpink;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.whisper {
  text-align: center;
}

.dot {
  margin: 0px 5px;
  width: 15px;
  height: 15px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
}

.title {
  font-weight: bold;
}

.info {
  margin-bottom: 18px;
  margin-top: 16px;
  color: #b8b8b8;
}

.course {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

.date {
  margin-top: 6px;
}

.skill-bar {
  margin: 1rem 0 0 0;
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-name {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  padding-right: 12px;
}

.skill p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

.grad-date {
  font-weight: bolder;
  color: pink;
}

#skill-heading {
  padding-top: 30px;
  padding-bottom: 30px;
}

.skill a {
  text-decoration: none;
}

.skill-img {
  width: 72px;
  height: 72px;
  transition: ease-in 0.3s;
}

#dotnet img {
  width: 72px;
  height: 72px;
  transition: ease-in 0.3s;
}

#dotnet img:hover {
  width: 88px;
  height: 88px;
  transition: ease-in 0.3s;
}

.skill-img:hover {
  width: 88px;
  height: 88px;
  transition: ease-in 0.3s;
}

.skill button span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding-right: 10px;
}

.skill button svg {
  padding-bottom: 5px;
}

.skill button:hover svg {
  margin-top: 10px;
  transform: scale(1.1);
}

.contact {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("./assets/purple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 200px 0px;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact h4 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 25px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  border-radius: 20px;
  border: solid 1px lightpink;
  color: lightpink;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.contact form button:hover::before {
  width: 100%;
}

.contact img {
  width: 60%;
  border-radius: 100%;
  padding-top: 20px;
}

.contact ul {
  display: flex;
}

.contact li {
  color: white;
}

.footer {
  padding-top: 50px;
  position: relative;
  background-color: black;
}

.footer p {
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  padding-bottom: 30px;
  text-align: center;
}

#back-to-top {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -30px;
}

#back-to-top svg:hover {
  box-shadow: 0 0 15px lightpink;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
